<div class="sidenav" >
    <div id="about-slider" style="">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators visible-xs">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          </ol>
        <div class="carousel-inner">
          <div class="item active" style="width: 100%; height: 40%">
            <img src="assets/img/media.jpg" class="img-responsive" alt="" width="100%" height="100%">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="links !== null">
  
    <div ng-repeat="media in medias">
      <div class="col-sm-6" *ngFor="let item of links" >
        <div style="margin: 5%">
          <h2>{{item.name}}</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J9_TXgMaz7A" ></iframe>
          </div>
        </div>
      </div>
    </div>
    
  </div>