<footer>
	
  <div id="contact" *ngIf="sliders !== null">
  
    <div *ngIf="isSend" class="container" style="margin: 5% 0 0 7%; text-align: center;">
      <div class="alert alert-success">
      <strong>Uspesno!</strong> Poruka je sačuvana, u najkracem roku javice vam se neko.
    </div>
    </div>
    
    <div class="container">
      <div class="text-center">
        <h3>{{sliders.Header.H3.name}}</h3>
        <p>{{sliders.Header.P.name}}</p>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s" style="height: 400px">
         <h2>{{sliders.Maps.name}}</h2>
         <div style="height: 100%">
            <img src="../../../assets/img/maps/1.jpg" alt="" width="100%">

         </div>

        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
          <h2>{{sliders.ContantInformation.name}}</h2>
          <ul>
            <li *ngFor="let item of sliders.ULContantInformation"><i class="item.img"></i> <span *ngFor="let i of item.name">{{i}} <br> </span>  <hr> </li>
           
          </ul>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s" >
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form >
            <div class="form-group">
              <div style="color: red" *ngIf="isCorectUsername"> Molimo vas unesite vase ime </div>
              <input type="text" name="name" class="form-control" id="name" [(ngModel)]="message.username" placeholder="{{sliders.Form.Name.name}}">
              <div class="validation"></div>
            </div>

            <div class="form-group">
              <div style="color: red" *ngIf="isCorectEmail"> Molimo vas unesite vas email </div>
              <input type="email" class="form-control" name="email" id="email" [(ngModel)]="message.email" placeholder="{{sliders.Form.Email.name}}">
              <div class="validation"></div>
            </div>
            <div>
              <div style="color: red" *ngIf="isCorectTitle"> Molimo vas unesite naslov </div>
              <input type="text" name="name" class="form-control" id="name" [(ngModel)]="message.title" placeholder="{{sliders.Form.Title.name}}">
              <div class="validation"></div>
            </div><br>
            <div class="form-group">
              <div style="color: red" *ngIf="isCorectMess"> Molimo vas unesite poruku </div>
              <textarea class="form-control" name="message" rows="5" [(ngModel)]="message.mess" placeholder="{{sliders.Form.Message.name}}"></textarea>
              <div class="validation"></div>
            </div>
            <button type="submit" (click)="ngSend()" class="btn btn-theme pull-left">{{sliders.Form.Button.name}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--/#contact-->
  
</footer>

  